#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define NUMBER  1
#define SYMBOL  2
#define HOTKEY  3

#define AS(keycode) &as LS(keycode) keycode

/ {
    macros {
        macro_email_q: macro_email_q {
            // 714448168@qq.com

            label = "MACRO_EMAIL_QQ";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N7 &kp N1 &kp N4 &kp N4 &kp N4 &kp N8 &kp N1 &kp N6 &kp N8 &kp AT &kp Q &kp Q &kp DOT &kp C &kp O &kp M>;
        };

        GUANJIANCI: GUANJIANCI {
            compatible = "zmk,behavior-macro";
            label = "new_macro";
            #binding-cells = <0>;
            bindings = <&kp LSHIFT &kp LBKT &kp RBKT &kp LEFT &kp LSHIFT>;
        };

        macroKA: macroKA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp K &kp A>;
            label = "MACROKA";
        };

        macroKI: macroKI {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp K &kp I>;
            label = "MACROKI";
        };

        macroKU: macroKU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp K &kp U>;
            label = "MACROKU";
        };

        macroKE: macroKE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp LS(K) &kp LS(E)>;
            label = "MACROKE";
        };

        macroKO: macroKO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp LS(K) &kp LS(O)>;
            label = "MACROKO";
        };

        macroSA: macroSA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp S &kp A>;
            label = "MACROSA";
        };

        macroSI: macroSI {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp S &kp I>;
            label = "MACROSI";
        };

        macroSU: macroSU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp S &kp U>;
            label = "MACROSU";
        };

        macroSE: macroSE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp S &kp E>;
            label = "MACROSE";
        };

        macroSO: macroSO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp S &kp O>;
            label = "MACROSO";
        };

        macroTA: macroTA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp T &kp A>;
            label = "MACROTA";
        };

        macroTI: macroTI {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp T &kp I>;
            label = "MACROTI";
        };

        macroTU: macroTU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp T &kp U>;
            label = "MACROTU";
        };

        macroTE: macroTE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp T &kp E>;
            label = "MACROTE";
        };

        macroTO: macroTO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp T &kp O>;
            label = "MACROTO";
        };

        macroNA: macroNA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp N &kp A>;
            label = "MACRONA";
        };

        macroNI: macroNI {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp N &kp I>;
            label = "MACRONI";
        };

        macroNU: macroNU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp N &kp U>;
            label = "MACRONU";
        };

        macroNE: macroNE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp N &kp E>;
            label = "MACRONE";
        };

        macroNO: macroNO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp N &kp O>;
            label = "MACRONO";
        };

        macroHA: macroHA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp H &kp A>;
            label = "MACROHA";
        };

        macroHI: macroHI {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp H &kp I>;
            label = "MACROHI";
        };

        macroHU: macroHU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp H &kp U>;
            label = "MACROHU";
        };

        macroHE: macroHE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp H &kp E>;
            label = "MACROHE";
        };

        macroHO: macroHO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp H &kp O>;
            label = "MACROHO";
        };

        macroMA: macroMA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp M &kp A>;
            label = "MACROMA";
        };

        macroMI: macroMI {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp M &kp I>;
            label = "MACROMI";
        };

        macroMU: macroMU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp M &kp U>;
            label = "MACROMU";
        };

        macroME: macroME {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp M &kp E>;
            label = "MACROME";
        };

        macroMO: macroMO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp M &kp O>;
            label = "MACROMO";
        };

        macroYA: macroYA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp Y &kp A>;
            label = "MACROYA";
        };

        macroYU: macroYU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp Y &kp U>;
            label = "MACROYU";
        };

        macroYO: macroYO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp Y &kp O>;
            label = "MACROYO";
        };

        macroRA: macroRA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp R &kp A>;
            label = "MACRORA";
        };

        macroRI: macroRI {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp R &kp I>;
            label = "MACRORI";
        };

        macroRU: macroRU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp R &kp U>;
            label = "MACRORU";
        };

        macroRE: macroRE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp R &kp E>;
            label = "MACRORE";
        };

        macroRO: macroRO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp R &kp O>;
            label = "MACRORO";
        };

        macroWA: macroWA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp W &kp A>;
            label = "MACROWA";
        };

        macroWO: macroWO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp W &kp O>;
            label = "MACROWO";
        };

        macroNN: macroNN {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp N &kp N>;
            label = "MACRONN";
        };

        macroLya: macroLya {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp L &kp Y &kp A>;
            label = "MACROLYA";
        };

        macroLyu: macroLyu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp L &kp Y &kp U>;
            label = "MACROLYU";
        };

        macroLyo: macroLyo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp L &kp Y &kp O>;
            label = "MACROLYO";
        };

        macroLa: macroLa {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp L &kp A>;
            label = "MACROLA";
        };

        macroLi: macroLi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp L &kp I>;
            label = "MACROLI";
        };

        macroLu: macroLu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp L &kp U>;
            label = "MACROLU";
        };

        macroLe: macroLe {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp L &kp E>;
            label = "MACROLE";
        };

        macroLo: macroLo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp L &kp O>;
            label = "MACROLO";
        };

        macroPA: macroPA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp P &kp A>;
            label = "MACROPA";
        };

        macroPI: macroPI {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp P &kp I>;
            label = "MACROPI";
        };

        macroPU: macroPU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp P &kp U>;
            label = "MACROPU";
        };

        macroPE: macroPE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp P &kp E>;
            label = "MACROPE";
        };

        macroPO: macroPO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp P &kp O>;
            label = "MACROPO";
        };

        macroGA: macroGA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp G &kp A>;
            label = "MACROGA";
        };

        macroGI: macroGI {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp G &kp I>;
            label = "MACROGI";
        };

        macroGU: macroGU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp G &kp U>;
            label = "MACROGU";
        };

        macroGE: macroGE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp G &kp E>;
            label = "MACROGE";
        };

        macroGO: macroGO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp G &kp O>;
            label = "MACROGO";
        };

        macroZA: macroZA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp Z &kp A>;
            label = "MACROZA";
        };

        macroZI: macroZI {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp Z &kp I>;
            label = "MACROZI";
        };

        macroZU: macroZU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp Z &kp U>;
            label = "MACROZU";
        };

        macroZE: macroZE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp Z &kp E>;
            label = "MACROZE";
        };

        macroZO: macroZO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp Z &kp O>;
            label = "MACROZO";
        };

        macroDA: macroDA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp D &kp A>;
            label = "MACRODA";
        };

        macroDI: macroDI {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp D &kp I>;
            label = "MACRODI";
        };

        macroDU: macroDU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp D &kp U>;
            label = "MACRODU";
        };

        macroDE: macroDE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp D &kp E>;
            label = "MACRODE";
        };

        macroDO: macroDO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp D &kp O>;
            label = "MACRODO";
        };

        macroBA: macroBA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp B &kp A>;
            label = "MACROBA";
        };

        macroBI: macroBI {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp B &kp I>;
            label = "MACROBI";
        };

        macroBU: macroBU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp B &kp U>;
            label = "MACROBU";
        };

        macroBE: macroBE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp B &kp E>;
            label = "MACROBE";
        };

        macroBO: macroBO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp B &kp O>;
            label = "MACROBO";
        };

        macroLTU: macroLTU {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp L &kp T &kp U>;
            label = "MACROLTU";
        };
    };

    combos {
        compatible = "zmk,combos";

        lup {
            bindings = <&kp UP>;
            key-positions = <15 16>;
            layers = <0 1>;
            timeout-ms = <50>;
        };

        ldown {
            bindings = <&kp DOWN>;
            key-positions = <39 40>;
            timeout-ms = <50>;
        };

        lleft {
            bindings = <&kp LEFT>;
            key-positions = <26 27>;
            layers = <0 1>;
            timeout-ms = <50>;
        };

        lright {
            bindings = <&kp RIGHT>;
            key-positions = <27 28>;
            layers = <0 1>;
            timeout-ms = <50>;
        };

        rup {
            bindings = <&kp UP>;
            key-positions = <19 20>;
            layers = <0 1>;
            timeout-ms = <50>;
        };

        rdown {
            bindings = <&kp DOWN>;
            key-positions = <43 44>;
            timeout-ms = <50>;
        };

        rleft {
            bindings = <&kp LEFT>;
            key-positions = <31 32>;
            layers = <0 1>;
            timeout-ms = <50>;
        };

        rright {
            bindings = <&kp RIGHT>;
            key-positions = <32 33>;
            layers = <0 1>;
            timeout-ms = <50>;
        };

        ComboA {
            bindings = <&kp A>;
            key-positions = <48 26>;
        };

        ComboE {
            bindings = <&kp E>;
            key-positions = <48 14>;
        };

        ComboO {
            bindings = <&kp O>;
            key-positions = <53 31>;
        };

        ComboNA {
            bindings = <&macroNA>;
            key-positions = <48 27>;
        };

        ComboNI {
            bindings = <&macroNI>;
            key-positions = <55 19>;
        };

        ComboNU {
            bindings = <&macroNU>;
            key-positions = <55 42>;
        };

        ComboNO {
            bindings = <&macroNO>;
            key-positions = <55 32>;
        };

        ComboMA {
            bindings = <&macroMA>;
            key-positions = <55 21>;
        };

        ComboMI {
            bindings = <&macroMI>;
            key-positions = <55 30>;
        };

        ComboMU {
            bindings = <&macroMU>;
            key-positions = <55 44>;
        };

        ComboMO {
            bindings = <&macroMO>;
            key-positions = <48 29>;
        };

        ComboYA {
            bindings = <&macroYA>;
            key-positions = <48 40>;
        };

        ComboYU {
            bindings = <&macroYU>;
            key-positions = <55 43>;
        };

        ComboYO {
            bindings = <&macroYO>;
            key-positions = <55 18>;
        };

        ComboRI {
            bindings = <&macroRI>;
            key-positions = <48 15>;
        };

        ComboRU {
            bindings = <&macroRU>;
            key-positions = <55 20>;
        };

        ComboRE {
            bindings = <&macroRE>;
            key-positions = <48 17>;
        };

        ComboRO {
            bindings = <&macroRO>;
            key-positions = <48 39>;
        };

        ComboWA {
            bindings = <&macroWA>;
            key-positions = <55 45>;
        };

        ComboWO {
            bindings = <&macroWO>;
            key-positions = <25 48>;
        };

        ComboNN {
            bindings = <&macroNN>;
            key-positions = <55 46>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "DEFAULT";
            bindings = <
&lt 1 ESC         &kp N1            &kp N2     &kp N3  &kp N4        &kp N5   &kp N6  &kp N7   &kp N8     &kp N9          &kp N0    &kp MINUS
&lt 2 TAB         &kp Q             &kp W      &kp E   &kp R         &kp T    &kp Y   &kp U    &kp I      &kp O           &kp P     &kp LEFT_BRACKET
&kp LEFT_CONTROL  &kp A             &kp S      &kp D   &kp F         &kp G    &kp H   &kp J    &kp K      &kp L           &kp SEMI  &kp BACKSPACE
&kp LSHFT         &kp Z             &kp X      &kp C   &kp V         &kp B    &kp N   &kp M    &kp COMMA  &kp DOT         &kp FSLH  &kp RSHFT
                  &kp INT_MUHENKAN  &kp SPACE  &mo 1   &kp LEFT_ALT  &kp DEL          &kp RET  &to 2      &kp INT_HENKAN
            >;
        };

        number_layer {
            label = "NUMBER";
            bindings = <
&sys_reset      &kp F1        &kp F2        &kp F3        &kp F4         &kp F5         &kp F6  &kp F7     &kp F8     &kp F9     &kp F10      &sys_reset
&kp C_VOL_DN    &kp C_VOL_UP  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_DISC 0  &bt BT_DISC 1  &none   &kp KP_N7  &kp KP_N8  &kp KP_N9  &kp KP_PLUS  &none
&none           &none         &kp LEFT      &kp UP        &kp RIGHT      &none          &none   &kp KP_N4  &kp UP     &kp KP_N6  &none        &none
&macro_email_q  &GUANJIANCI   &kp LEFT      &kp DOWN      &kp RIGHT      &none          &none   &kp LEFT   &kp DOWN   &kp RIGHT  &none        &none
                &none         &none         &none         &none          &none                  &none      &none      &none
            >;
        };

        symbol_layer {
            label = "SYMBOL";
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1      &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3         &bt BT_SEL 4  &bt BT_CLR
&sys_reset    &none             &macroKA      &macroTA      &macroKO      &macroSA    &macroRA      &macroTI      &macroKU      &macroTU             &none         &sys_reset
&none         &kp U             &macroSI      &macroTE      &macroKE      &macroSE    &macroHA      &macroTO      &none         &macroKI             &kp I         &none
&none         &none             &macroHI      &macroSU      &macroHU      &macroHE    &macroME      &macroSO      &macroNE      &macroHO             &none         &none
              &kp INT_MUHENKAN  &none         &none         &none         &none                     &none         &to 0         &kp INTERNATIONAL_4
            >;
        };

        hotkey_layer {
            label = "HOTKEY";
            bindings = <
&none  &none           &kp F10  &kp F11  &kp F12  &none  &none  &none  &none  &none  &none  &none
&none  &macro_email_q  &kp F7   &kp F8   &kp F9   &none  &none  &none  &none  &none  &none  &none
&none  &none           &kp F4   &kp F5   &kp F6   &none  &none  &none  &none  &none  &none  &none
&none  &none           &kp F1   &kp F2   &kp F3   &none  &none  &none  &none  &none  &none  &none
       &none           &none    &none    &none    &none         &none  &none  &none
            >;
        };
    };
};
